<a href="https://colab.research.google.com/github/himanshusharmaa52/Python-data-structure/blob/main/Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUESTION 1 **
What are data structures and why they are important?

Answer 1:
Data structures are ways to organize, manage, and store data in a computer so it can be accessed and modified efficiently. They provide a means to handle data in a structured format, making it easier to perform operations like searching, sorting, inserting, deleting, and updating.
Why Data Structures are Important:
1.They help in organizing and storing data efficiently for easy access and manipulation.
2.Essential for interviews, competitive programming, and software development.

 **QUESTION 2** explain the difference between mutable and immutable data types, with example

 Answer 2:
 Mutable and Immutable data types refer to whether or not the value of a data object can be changed after it is created.
 1. Mutable Data Types
->These are data types where the value can be changed or modified after the object is created, without changing the object reference.
Examples: list, dict
2.
Mutable and Immutable data types refer to whether or not the value of a data object can be changed after it is created. Here's a breakdown:

1. Mutable Data Types
Definition: These are data types where the value can be changed or modified after the object is created, without changing the object reference.
Examples: list, dict, set, bytearray
Example:

python
Copy
Edit
# Mutable Example: List
my_list = [1, 2, 3]
print(id(my_list))  # Object's memory address

# Modify the list
my_list.append(4)
print(my_list)  # [1, 2, 3, 4]
print(id(my_list))  # Memory address remains the same
Behavior: Even after modifying my_list, its reference (memory address) remains the same because the object itself is modified.

2. Immutable Data Types

-> These are data types where the value cannot be changed once the object is created. If any operation tries to modify it, a new object is created with the modified value.
Examples: int, float, str, tuple

In [ ]:
#Mutable Example (List):
my_list = [1, 2, 3]
my_list.append(4)  # Modify the list
print(my_list)


#Immutable Example (String):
my_str = "hello"
my_str += " world"  # Try to modify the string
print(my_str)

**Question 3** 3. What are the main differences between lists and tuples in Python?
Answer:

Lists are mutable, while tuples are immutable.

Lists consume more memory; tuples are memory-efficient.

Lists are slower due to mutability,while tuples are faster.

In [ ]:
#example
my_list = [1, 2, 3]  # Mutable
my_tuple = (1, 2, 3)  # Immutable

Question 4 . Describe how dictionaries store data.

answer 4:
Answer: Dictionaries store data as key-value pairs. They use a hash table to map keys to their respective values, enabling fast lookups.
Example: my_dict = {"name": "John", "age": 30}

Q5. Why might you use a set instead of a list in Python?
 Ans -> Sets are used when you need to store unique elements and perform fast operations like unions, intersections, or difference.
Example:

In [ ]:
#Example
my_set = {1, 2, 3, 3} # Output: {1, 2, 3}

Q6. What is a string in Python, and how is it different from a list?

Answer:

A string is a sequence of characters, immutable.

A list is a sequence of elements, mutable.
Example:

In [ ]:
#EX
my_string = "hello"  # Immutable
my_list = ["h", "e", "l", "l", "o"]  # Mutable

Q7. How do tuples ensure data integrity in Python?

Answer: Tuples are immutable, so their values cannot be altered after creation. This ensures data consistency.

8. What is a hash table, and how does it relate to dictionaries in Python?

Answer: A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python use hash tables for efficient data storage and retrieval.

9. Can lists contain different data types in Python?

Answer: Yes, lists can hold elements of different data types.
Example: my_list = [1, "hello", 3.14]

10. Explain why strings are immutable in Python.

Answer: Strings are immutable to improve performance and memory usage. When modified, a new string is created instead of changing the original.

11. What advantages do dictionaries offer over lists for certain tasks?

Answer: Dictionaries provide faster lookups by key and are ideal for storing data with unique identifiers.

12. Describe a scenario where using a tuple would be preferable over a list.

Answer: Use tuples when you want data to remain constant, such as storing coordinates (latitude, longitude)

13. How do sets handle duplicate values in Python?

Answer: Sets automatically remove duplicate values.
Example:

In [ ]:
#example
my_set = {1, 2, 2, 3}  # Output: {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

Answer:

For lists: Checks if the value exists.

For dictionaries: Checks if the key exists.
Example:

In [ ]:
#example
my_list = [1, 2, 3]
print(2 in my_list)  # True

my_dict = {"a": 1}
print("a" in my_dict)  # True

15. Can you modify the elements of a tuple? Explain why or why not.

Answer: No, tuples are immutable, so their elements cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case.

Answer: A nested dictionary is a dictionary within a dictionary, used for storing hierarchical data.
Example:

#nested_dict = {"person": {"name": "John", "age": 30}}

17. Describe the time complexity of accessing elements in a dictionary.

Answer: Accessing elements in a dictionary has an average time complexity of O(1) due to hash table implementation.

18. In what situations are lists preferred over dictionaries?

Answer: Lists are preferred when order matters or when storing a collection of elements without key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer: Dictionaries are unordered because they rely on hash functions. Data retrieval is based on keys, not insertion order (though Python 3.7+ maintains insertion order).

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Answer:

List: Data is retrieved by index.

Dictionary: Data is retrieved by key.

# New section
**PRACTICAL QUESTIONS**

Q1. Create a string with your name and print it.

In [ ]:
name = "John"
print(name)

2. Find the length of the string "Hello World".

In [ ]:
print(len("Hello World"))

3. Slice the first 3 characters from "Python Programming".

In [ ]:
print("Python Programming"[:3])

4. Convert "hello" to uppercase.

In [ ]:
print("hello".upper())

5. Replace "apple" with "orange" in "I like apple".

In [ ]:
print("I like apple".replace("apple", "orange"))

6. Create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

7. Append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

8. Remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

9. Access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

10. Reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

11. Create a tuple with elements 10, 20, 30 and print it.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

12. Access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

13. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

14. Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index("cat"))

15. Check if "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
print("banana" in my_tuple)

16. Create a set with elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

17. Add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

18. Create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

19. Access the first element of the tuple ('apple', 'banana', 'cherry')

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

20. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

21. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index("cat"))

22. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
print("banana" in my_tuple)



23. Create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

24. Add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)